### Basic Python Projects ###

build/
dist/
local/
cache/

# Editors
.vscode/
.idea/

# Vagrant
.vagrant/

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a templates
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
.venva
env/
venv/
venva/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

#### Jetbrains ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/artifacts
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser
hcai_datasets/hcai_ckplus/test.ipynb
hcai_datasets/hcai_ckplus/test.ipynb
/local/
nova_server/tests/test_payloads.py
nova_server/tests/hcai_nova_dynamic/1.0.0/dataset_info.json
nova_server/tests/hcai_nova_dynamic/1.0.0/features.json
nova_server/tests/hcai_nova_dynamic/1.0.0/hcai_nova_dynamic-dynamic_split.tfrecord-00000-of-00001
nova_server/tests/hcai_nova_dynamic/1.0.0/smile.labels.txt
/nova_server/log/
/nova_server/tmp/
docs/docbuild/.buildinfo
docs/docbuild/.doctrees/api/modules.doctree
docs/docbuild/.doctrees/api/nova_server.app.doctree
docs/docbuild/.doctrees/api/nova_server.backend.doctree
docs/docbuild/.doctrees/api/nova_server.backend.virtual_environment.doctree
docs/docbuild/.doctrees/api/nova_server.data.adjectives.doctree
docs/docbuild/.doctrees/api/nova_server.data.animals.doctree
docs/docbuild/.doctrees/api/nova_server.data.colors.doctree
docs/docbuild/.doctrees/api/nova_server.data.countries.doctree
docs/docbuild/.doctrees/api/nova_server.data.doctree
docs/docbuild/.doctrees/api/nova_server.data.languages.doctree
docs/docbuild/.doctrees/api/nova_server.data.names.doctree
docs/docbuild/.doctrees/api/nova_server.data.star_wars.doctree
docs/docbuild/.doctrees/api/nova_server.doctree
docs/docbuild/.doctrees/api/nova_server.exec.doctree
docs/docbuild/.doctrees/api/nova_server.exec.execution_handler.doctree
docs/docbuild/.doctrees/api/nova_server.route.cancel.doctree
docs/docbuild/.doctrees/api/nova_server.route.cml_info.doctree
docs/docbuild/.doctrees/api/nova_server.route.deprecated_extract.doctree
docs/docbuild/.doctrees/api/nova_server.route.deprecated_train.doctree
docs/docbuild/.doctrees/api/nova_server.route.doctree
docs/docbuild/.doctrees/api/nova_server.route.explain.doctree
docs/docbuild/.doctrees/api/nova_server.route.extract.doctree
docs/docbuild/.doctrees/api/nova_server.route.fetch_result.doctree
docs/docbuild/.doctrees/api/nova_server.route.log.doctree
docs/docbuild/.doctrees/api/nova_server.route.predict.doctree
docs/docbuild/.doctrees/api/nova_server.route.process.doctree
docs/docbuild/.doctrees/api/nova_server.route.status.doctree
docs/docbuild/.doctrees/api/nova_server.route.train.doctree
docs/docbuild/.doctrees/api/nova_server.route.ui.doctree
docs/docbuild/.doctrees/api/nova_server.templates.doctree
docs/docbuild/.doctrees/api/nova_server.utils.deprecated_dataset_utils.doctree
docs/docbuild/.doctrees/api/nova_server.utils.deprecated_db_utils.doctree
docs/docbuild/.doctrees/api/nova_server.utils.deprecated_explain_utils.doctree
docs/docbuild/.doctrees/api/nova_server.utils.doctree
docs/docbuild/.doctrees/api/nova_server.utils.env.doctree
docs/docbuild/.doctrees/api/nova_server.utils.import_utils.doctree
docs/docbuild/.doctrees/api/nova_server.utils.job_utils.doctree
docs/docbuild/.doctrees/api/nova_server.utils.log_utils.doctree
docs/docbuild/.doctrees/api/nova_server.utils.thread_utils.doctree
docs/docbuild/.doctrees/api/nova_server.utils.venv_utils.doctree
docs/docbuild/.doctrees/environment.pickle
docs/docbuild/.doctrees/index.doctree
docs/docbuild/.doctrees/modules/overview_link.doctree
docs/docbuild/.doctrees/modules/README.doctree
docs/docbuild/.doctrees/modules/whisperx_link.doctree
docs/docbuild/.doctrees/tutorials/examples.doctree
docs/docbuild/.doctrees/tutorials/introduction.doctree
docs/docbuild/_modules/index.html
docs/docbuild/_modules/nova_server/backend/virtual_environment.html
docs/docbuild/_modules/nova_server/exec/execution_handler.html
docs/docbuild/_modules/nova_server/route/cancel.html
docs/docbuild/_modules/nova_server/route/cml_info.html
docs/docbuild/_modules/nova_server/route/fetch_result.html
docs/docbuild/_modules/nova_server/route/log.html
docs/docbuild/_modules/nova_server/route/process.html
docs/docbuild/_modules/nova_server/route/status.html
docs/docbuild/_modules/nova_server/route/train.html
docs/docbuild/_modules/nova_server/route/ui.html
docs/docbuild/_modules/nova_server/utils/deprecated_explain_utils.html
docs/docbuild/_modules/nova_server/utils/import_utils.html
docs/docbuild/_modules/nova_server/utils/job_utils.html
docs/docbuild/_modules/nova_server/utils/log_utils.html
docs/docbuild/_modules/nova_server/utils/thread_utils.html
docs/docbuild/_modules/nova_server/utils/venv_utils.html
docs/docbuild/_sources/api/modules.rst.txt
docs/docbuild/_sources/api/nova_server.app.rst.txt
docs/docbuild/_sources/api/nova_server.backend.rst.txt
docs/docbuild/_sources/api/nova_server.backend.virtual_environment.rst.txt
docs/docbuild/_sources/api/nova_server.data.adjectives.rst.txt
docs/docbuild/_sources/api/nova_server.data.animals.rst.txt
docs/docbuild/_sources/api/nova_server.data.colors.rst.txt
docs/docbuild/_sources/api/nova_server.data.countries.rst.txt
docs/docbuild/_sources/api/nova_server.data.languages.rst.txt
docs/docbuild/_sources/api/nova_server.data.names.rst.txt
docs/docbuild/_sources/api/nova_server.data.rst.txt
docs/docbuild/_sources/api/nova_server.data.star_wars.rst.txt
docs/docbuild/_sources/api/nova_server.exec.execution_handler.rst.txt
docs/docbuild/_sources/api/nova_server.exec.rst.txt
docs/docbuild/_sources/api/nova_server.route.cancel.rst.txt
docs/docbuild/_sources/api/nova_server.route.cml_info.rst.txt
docs/docbuild/_sources/api/nova_server.route.deprecated_extract.rst.txt
docs/docbuild/_sources/api/nova_server.route.deprecated_train.rst.txt
docs/docbuild/_sources/api/nova_server.route.explain.rst.txt
docs/docbuild/_sources/api/nova_server.route.extract.rst.txt
docs/docbuild/_sources/api/nova_server.route.fetch_result.rst.txt
docs/docbuild/_sources/api/nova_server.route.log.rst.txt
docs/docbuild/_sources/api/nova_server.route.predict.rst.txt
docs/docbuild/_sources/api/nova_server.route.process.rst.txt
docs/docbuild/_sources/api/nova_server.route.rst.txt
docs/docbuild/_sources/api/nova_server.route.status.rst.txt
docs/docbuild/_sources/api/nova_server.route.train.rst.txt
docs/docbuild/_sources/api/nova_server.route.ui.rst.txt
docs/docbuild/_sources/api/nova_server.rst.txt
docs/docbuild/_sources/api/nova_server.templates.rst.txt
docs/docbuild/_sources/api/nova_server.utils.deprecated_dataset_utils.rst.txt
docs/docbuild/_sources/api/nova_server.utils.deprecated_db_utils.rst.txt
docs/docbuild/_sources/api/nova_server.utils.deprecated_explain_utils.rst.txt
docs/docbuild/_sources/api/nova_server.utils.env.rst.txt
docs/docbuild/_sources/api/nova_server.utils.import_utils.rst.txt
docs/docbuild/_sources/api/nova_server.utils.job_utils.rst.txt
docs/docbuild/_sources/api/nova_server.utils.log_utils.rst.txt
docs/docbuild/_sources/api/nova_server.utils.rst.txt
docs/docbuild/_sources/api/nova_server.utils.thread_utils.rst.txt
docs/docbuild/_sources/api/nova_server.utils.venv_utils.rst.txt
docs/docbuild/_sources/index.rst.txt
docs/docbuild/_sources/modules/overview_link.md.txt
docs/docbuild/_sources/modules/README.md.txt
docs/docbuild/_sources/modules/whisperx_link.md.txt
docs/docbuild/_sources/tutorials/examples.md.txt
docs/docbuild/_sources/tutorials/introduction.md.txt
docs/docbuild/_static/_sphinx_javascript_frameworks_compat.js
docs/docbuild/_static/basic.css
docs/docbuild/_static/css/badge_only.css
docs/docbuild/_static/css/fonts/fontawesome-webfont.eot
docs/docbuild/_static/css/fonts/fontawesome-webfont.svg
docs/docbuild/_static/css/fonts/fontawesome-webfont.ttf
docs/docbuild/_static/css/fonts/fontawesome-webfont.woff
docs/docbuild/_static/css/fonts/fontawesome-webfont.woff2
docs/docbuild/_static/css/fonts/lato-bold-italic.woff
docs/docbuild/_static/css/fonts/lato-bold-italic.woff2
docs/docbuild/_static/css/fonts/lato-bold.woff
docs/docbuild/_static/css/fonts/lato-bold.woff2
docs/docbuild/_static/css/fonts/lato-normal-italic.woff
docs/docbuild/_static/css/fonts/lato-normal-italic.woff2
docs/docbuild/_static/css/fonts/lato-normal.woff
docs/docbuild/_static/css/fonts/lato-normal.woff2
docs/docbuild/_static/css/fonts/Roboto-Slab-Bold.woff
docs/docbuild/_static/css/fonts/Roboto-Slab-Bold.woff2
docs/docbuild/_static/css/fonts/Roboto-Slab-Regular.woff
docs/docbuild/_static/css/fonts/Roboto-Slab-Regular.woff2
docs/docbuild/_static/css/theme.css
docs/docbuild/_static/doctools.js
docs/docbuild/_static/documentation_options.js
docs/docbuild/_static/file.png
docs/docbuild/_static/jquery.js
docs/docbuild/_static/js/badge_only.js
docs/docbuild/_static/js/html5shiv-printshiv.min.js
docs/docbuild/_static/js/html5shiv.min.js
docs/docbuild/_static/js/theme.js
docs/docbuild/_static/language_data.js
docs/docbuild/_static/minus.png
docs/docbuild/_static/plus.png
docs/docbuild/_static/pygments.css
docs/docbuild/_static/searchtools.js
docs/docbuild/_static/sphinx_highlight.js
docs/docbuild/api/modules.html
docs/docbuild/api/nova_server.app.html
docs/docbuild/api/nova_server.backend.html
docs/docbuild/api/nova_server.backend.virtual_environment.html
docs/docbuild/api/nova_server.data.adjectives.html
docs/docbuild/api/nova_server.data.animals.html
docs/docbuild/api/nova_server.data.colors.html
docs/docbuild/api/nova_server.data.countries.html
docs/docbuild/api/nova_server.data.html
docs/docbuild/api/nova_server.data.languages.html
docs/docbuild/api/nova_server.data.names.html
docs/docbuild/api/nova_server.data.star_wars.html
docs/docbuild/api/nova_server.exec.execution_handler.html
docs/docbuild/api/nova_server.exec.html
docs/docbuild/api/nova_server.html
docs/docbuild/api/nova_server.route.cancel.html
docs/docbuild/api/nova_server.route.cml_info.html
docs/docbuild/api/nova_server.route.deprecated_extract.html
docs/docbuild/api/nova_server.route.deprecated_train.html
docs/docbuild/api/nova_server.route.explain.html
docs/docbuild/api/nova_server.route.extract.html
docs/docbuild/api/nova_server.route.fetch_result.html
docs/docbuild/api/nova_server.route.html
docs/docbuild/api/nova_server.route.log.html
docs/docbuild/api/nova_server.route.predict.html
docs/docbuild/api/nova_server.route.process.html
docs/docbuild/api/nova_server.route.status.html
docs/docbuild/api/nova_server.route.train.html
docs/docbuild/api/nova_server.route.ui.html
docs/docbuild/api/nova_server.templates.html
docs/docbuild/api/nova_server.utils.deprecated_dataset_utils.html
docs/docbuild/api/nova_server.utils.deprecated_db_utils.html
docs/docbuild/api/nova_server.utils.deprecated_explain_utils.html
docs/docbuild/api/nova_server.utils.env.html
docs/docbuild/api/nova_server.utils.html
docs/docbuild/api/nova_server.utils.import_utils.html
docs/docbuild/api/nova_server.utils.job_utils.html
docs/docbuild/api/nova_server.utils.log_utils.html
docs/docbuild/api/nova_server.utils.thread_utils.html
docs/docbuild/api/nova_server.utils.venv_utils.html
docs/docbuild/genindex.html
docs/docbuild/index.html
docs/docbuild/modules/overview_link.html
docs/docbuild/modules/README.html
docs/docbuild/modules/whisperx_link.html
docs/docbuild/objects.inv
docs/docbuild/py-modindex.html
docs/docbuild/search.html
docs/docbuild/searchindex.js
docs/docbuild/tutorials/examples.html
docs/docbuild/tutorials/introduction.html
docs/docsource/api/modules.rst
docs/docsource/api/nova_server.app.rst
docs/docsource/api/nova_server.backend.rst
docs/docsource/api/nova_server.backend.virtual_environment.rst
docs/docsource/api/nova_server.data.adjectives.rst
docs/docsource/api/nova_server.data.animals.rst
docs/docsource/api/nova_server.data.colors.rst
docs/docsource/api/nova_server.data.countries.rst
docs/docsource/api/nova_server.data.languages.rst
docs/docsource/api/nova_server.data.names.rst
docs/docsource/api/nova_server.data.rst
docs/docsource/api/nova_server.data.star_wars.rst
docs/docsource/api/nova_server.exec.execution_handler.rst
docs/docsource/api/nova_server.exec.rst
docs/docsource/api/nova_server.route.cancel.rst
docs/docsource/api/nova_server.route.cml_info.rst
docs/docsource/api/nova_server.route.deprecated_extract.rst
docs/docsource/api/nova_server.route.deprecated_train.rst
docs/docsource/api/nova_server.route.explain.rst
docs/docsource/api/nova_server.route.extract.rst
docs/docsource/api/nova_server.route.fetch_result.rst
docs/docsource/api/nova_server.route.log.rst
docs/docsource/api/nova_server.route.predict.rst
docs/docsource/api/nova_server.route.process.rst
docs/docsource/api/nova_server.route.rst
docs/docsource/api/nova_server.route.status.rst
docs/docsource/api/nova_server.route.train.rst
docs/docsource/api/nova_server.route.ui.rst
docs/docsource/api/nova_server.rst
docs/docsource/api/nova_server.templates.rst
docs/docsource/api/nova_server.utils.deprecated_dataset_utils.rst
docs/docsource/api/nova_server.utils.deprecated_db_utils.rst
docs/docsource/api/nova_server.utils.deprecated_explain_utils.rst
docs/docsource/api/nova_server.utils.env.rst
docs/docsource/api/nova_server.utils.import_utils.rst
docs/docsource/api/nova_server.utils.job_utils.rst
docs/docsource/api/nova_server.utils.log_utils.rst
docs/docsource/api/nova_server.utils.rst
docs/docsource/api/nova_server.utils.thread_utils.rst
docs/docsource/api/nova_server.utils.venv_utils.rst
