{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>JobID</th>
        <th>Status</th>
        <th>Progress</th>
        <th>Start</th>
        <th>End</th>
        <th>URL</th>
        <th>LOG</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      var table = $('#data').DataTable({
        ajax: '/data',
        columns: [
          {data: 'job_id'},
          {data: 'status'},
          {data: 'progress'},
          {data: 'start_time'},
          {data: 'end_time'},
          {data: 'interactive_url'},
          {data: 'job_id'}
        ],
        columnDefs: [ {
          "targets": -1,
          "render": function ( data, type, row, meta ) {
            return '<a href="/download/log/'+data+'">Download</a>';
          }
        } ]
      });
      setInterval( function () {
      table.ajax.reload();
    }, 500 );
    });

  </script>
{% endblock %}
